

.topnav a {
    float: left;
    color: rgba(4, 1, 17, 0.781);
    text-align: center;
    padding: 14px 16 px;

}

.topnav a:hover {
    color: turquoise;
}

.topnav a.active {
    color: forestgreen;
}

.timestyle {
    float: right;
}
.webtitle {
    text-align: center; 
    padding: 70px 0 0 0;
}
.directions {
    text-align: center;
    margin: 0 30px ;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.start-container {
    margin: 0;
  position: absolute;
  top:40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.start{
    background-color: #351C75; 
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
}

.quiz-container {
    padding: 0 20%;
    /* border-style: solid; */
 
}
.question {
    text-align: left;
    padding: 70px 0 0 0;
}

.answers {
    border-bottom: solid gray;
   padding-bottom: 10px;
    
}
button {
    background-color: #351C75;
    display: block;
    text-align: left;
    color: white;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 12px;
   
}

section button {
    width: 30%;
}
.end-game {
    display: block;
    padding: 0 20%;
    font-size: 22px;
}
.submit {
    background-color: #351C75;
    color: white;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 12px;
    
}

.initials{
    background-color: white;
    color: black;
    font-size: 22px;
}